.form-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.div-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.input {
  height:30px; 
  width: 80%; 
  margin: 5px; 
  border-radius: 10px;
}
.button {
  height:40px; 
  width: 80%; 
  margin: 5px; 
  border-radius: 20px; 
  border: 2px solid #4CAF50;
}
.button:hover {
  background-color: #4CAF50;
  color: white;
}